@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    box-sizing: border-box;
}
.container1{
    width: 100%;
    min-height: 40vh;
    padding-left: 2%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-logo{
    /* position: absolute; */
    left: 0.7%;
    right: 88.67%;
    top: 0%;
    margin-left: 2%;
    bottom: 6.68%;
  }
  .menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color:#78A92D;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  nav ul li a:hover{
    color:#333;
  }

body{
    margin: 0;
}
.header{
    text-align: center;
    padding: 32px;
}
.header h1{
    font-family: "Pacifico";
    /* font-style: "Pacifico"; */
    font-size: 50px;
    color: #78A92D;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.08em;
    text-align: center; 
    height: 98px;
    margin-left: 0%;
    top: 75px;
}
.parent{
    display: flex;
}
.big_logo{
    height: 50vh;
    margin-left: 20%;
}
.green_img{
    height: 700px;
    position: absolute;
    /* margin-right:-70% ; */
    width: 450px;
left: 64.4%;
/* right: -12.2%; */
top: 1.58%;
bottom: 87.83%;
z-index: -1;
}
.rotate{
    height: 80vh;
    margin-left: -30%;
    margin-top: 17%;
    animation: imgRotate 30s linear infinite;
}
.image_about{
    height: 70vh;
}

.description{
    font-size: 1.2rem;
    width: 50%;
    margin-left: 8vw;
    color:rgba(0, 0, 0, 0.52);
    font-weight: 800;
}
.food{
    height: 40vh;
    margin-left: 10%;
    
}
@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}
.btn1{
    position: absolute;
    margin-top: 4%;
    background-color: #78A92D;
    border-radius:12px;
    border: 0px;
    height: 5vh;
    margin-left: -10%;
}
.fruit-img{
    height: 190vh;
    z-index: -1;
    position: absolute;
    margin-left: 11%;
    margin-top: -10%;
}
.bg_green{
    /* display: none; */
    width: 80%;
    height: 10%;
    margin-left: 10%;
}
.video_play{
    margin-left: -50%;
    width: 20vw;
    background-color: white;
    border-radius: 17px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.half__img2{
    display: none;
}
.row__pu{
    display: flex;
}
.mohit__skipping{
    height: 90vh;
    margin-left: 32%;
}
.special_diet{
    font-size: 2rem;
    font-family: pacifico;
    color: #78A92D;
    margin-left: 15%;
}
.special_diet_content{
    font-size: 1.5rem;
    font-weight: 700;
    color: #959494;
    text-decoration: none;
    width: 50%;
    margin-top: -20%;
    margin-left: 14%;
}
.jk{
    color: #78A92D;
}
.special__diet__boxes{
    display: flex;

}
.fav__box{
    margin-left: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    height: 25vh;
    width: 15vw;

}
.favbox__img{
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.favbox_para{
    font-size: 0.8rem;
    text-align: center;
}
.inside_green{
    /* display: none; */
    position: absolute;
    width: 78%;
    margin-left: -79%;
    margin-top: 5%;
}

.about_us{
    margin-left: 5%;
    display: flex;
}
.name{
    color: orange;
}
.about_description{
    font-size: 1.2rem;
    width: 90%;
}
.heading_about{
    color: #78A92D;
    font-family: pacifico;
    font-size: 3.4rem;
}
.row{
    display: flex;
}
.chef_count{
    margin-left: 5%;
    font-size: 4rem;
    margin-top: -1%;
    color: #78A92D;
}
.chef{
    margin-left: 5%;
    margin-top:3px ;
    color: #959494;
    font-weight: 700;
    font-size: 1.5rem;
    
}
.house_moms{
    color: black;
    font-weight: 900;

}
.customer_count{
    margin-left: 5%;
    font-size: 4rem;
    margin-top: -1%;
    color: #78A92D;
}
.customer{
    margin-left: 5%;
    color: #959494;
    font-weight: 800;
    margin-top: -2px;
    font-size: 1.5rem;
}
.subscribed__{
    color: black;
}
.service{
    text-align: center;
    color: #78A92D;
    font-family: pacifico;
    font-size: 3rem;
    font-weight: 400;
}
.card_parent{
    display: flex;
    
}
.gajar{
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.abt__card__heading{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #78A92D;
}
.card1{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1%;
    border-radius: 13px;
}
.card2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1%;
    border-radius: 13px;
}
.card3{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1%;
    width: 40%;
    border-radius: 13px;
}
.abt__heading{
    text-align: center;
    
}
.why_homians{
    text-align: center;
    font-size: 3rem;
    font-family: pacifico;
    color: #78A92D;
}
.parent_why{
    display: flex;
}
.card_parent2{
    display: flex;
}
.card_1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 3%;
    width: 30%;
    border-radius: 13px;
}
.card_2{
    margin-left: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    width: 30%;
}
.card_3{
    margin-left: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    width: 30%;
}
.card_4{
    margin-left: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    width: 30%;
    margin-right: 2%;
}
.abt__card__heading1{
    text-align: center;
    color: #78A92D;
    font-size: 1.4rem;
}
.abt__heading1{
    text-align: center;
}
.gajar1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 14vh;
}
.work{
    text-align: center;
    margin-top: 5%;
    font-family: pacifico;
    color: #78A92D;
    font-size: 3.2rem;

}
.browse{
    text-align: center;
    margin-top: 5%;
    font-style: italic;
}
.rect1-img{
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ellipse1{
    display: none;
}
.fav-plans1{
    margin-left: 40%;
}
.fav-plans{
    color: black;
    text-decoration: none;
   margin-left: 40%;
   font-size: 2rem;
   font-weight: 800;
}
.fav-plans1{
    color: black;
    text-decoration: none;
   margin-left: 30%;
   font-size: 1.5rem;
   font-weight: 800;
}
.fav-plans-para{
    text-align: center;
    color: #78A92D;
    font-weight: 400;
    font-size: 1.4rem;
}
.rectangle10{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    width: 40%;
    margin-left: 10%;
}
.rectangle11{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    width: 40%;
    margin-left: 50%;
}
.rectangle12{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    width: 40%;
    margin-left: 10%;
}
.ellipse2{
    display: none;
}


.heading_kit{
    text-align: center;
    font-size: 2.8rem;
    margin-top: 2%;
    font-family: pacifico;
    color: #78A92D;
}
.parent_new{
    display: flex;
    align-items: center;
}
.rect15-img{
    height: 40vh;
}
.rect-abt{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.menu-bt{
    margin-left: 25%;
    width: 10vw;
    background-color: orange;
    border: 0px;
    height: 5vh;
    border-radius: 13px;
}
.rectangle15{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    margin-left: 15%;
    
}
.rectangle16{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    margin-left: 5%;
}
.rectangle17{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 13px;
    margin-left: 5%;
}
.testimonials{
    text-align: center;
    font-size: 3rem;
    font-family: pacifico;
    color: #78A92D;
}
.review1{
    padding-top: 10%;
    margin-left: 5%;
}
.review_new{
    border-radius: 3px;
    border-color: aqua;
    width: 50%;
    margin-left: 30%;
    background-color: #78A92D;
    border-top-left-radius: 70px 60px;
    border-bottom-right-radius: 53px;
}
.costumer__img{
    height: 20vh;
}
.customer__name{
    margin-left: 5%;
}
@media only screen and (max-width:413px){
  
    nav ul{
      width: 100%;
      background: linear-gradient(#fcfffa,#c2f577);
      position:absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color:#333;
    }
    .menu-icon{
      margin-right: 1rem;
    display: block;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
    .green_img{
        display: none;
    }
    .big_logo{
       margin-left: auto;
       margin-right: auto;
       display: block;
       height: 30vh;
    }
    .rotate{
        display: none;
    }
    .food{
        /* display: none; */
        height: 30vh;
    }
    .description{
        margin-left:15%;
    }
    .btn1{
        width: 20vw;
        margin-top: 10%;
        height: 4vh;
        margin-left: -40%;
        border-radius: 18px;
        border: 0px;
        background-color: #78A92D;
        position: absolute;
    }
    .about_us{
        display: flex;
    }
    .image_about{
        margin-left: -20%;
        height: 20vh;
    }
    .heading_about{
        font-family: pacifico;
        margin-left: 10%;
        font-size: 1.5rem;
    }
    .about_description{
        margin-left: 10%;
    }
    .row{
        display: flex;
    }
    .chef_count{
margin-left: 5%;
color: #78A92D;
font-size: 2rem;
margin-top: 4%;
    }
    .chef{
        margin-left: 5%;
        font-weight: 700;
    }
    .customer_count{
        margin-left: 5%;
        font-size: 2rem;
        margin-top: 4%;
        color: #78A92D;
    }
    .customer{
        margin-left: 3%;
        font-family: poppins;
        font-weight: 700;

    }
    .name{
        color: orange;
    }
    .welcome__line{
        font-weight: 700;
    }
    .service{
        font-size: 1.4rem;
        text-align: center;
        color: #78A92D;
    }
    .card_parent{
        display: flex;
    }
    .gajar{
        height: 4vh;
        margin-left: 30%;
        margin-top: 5%;
    }
    .card1{
        border-radius: 13px;
        margin-left: 2%;
        width:43vw;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        /* background-color: #78A92D; */
    }
    .abt__card__heading{
        font-size: 0.7rem;
        margin-left: 5%;

    }
    .abt__heading{
        font-size:0.5rem;
        margin-left: 5%;
    }
    .card2{
        width: 43vw;
        border-radius: 13px;
        /* background-color: #78A92D; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: 5px;
    }
    .card3{
        border-radius: 13px;
        width: 43vw;
        margin-left: 5px;
        margin-right: 2%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
    .why_homians{
        
        font-size: 1.2rem;
        color: #78A92D;
        text-align: center;
    }
    .card_parent2{
        display: flex;
        flex-direction: column;
    }
    .gajar1{
        height: 15vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .abt__card__heading1{
       text-align: center;
       color: #78A92D;
       font-weight: 700;
    }
    .card_1{
        border-radius: 13px;
        margin-left: 15%;
        margin-right: 2%;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .card_2{
        margin-top: 6%;
        margin-left: 15%;
        border-radius: 13px;
        margin-right: 2%;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .card_3{
        margin-top: 6%;
        margin-left: 15%;
        width: 70%;
        border-radius: 13px;
        margin-right: 2%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .card_4{
        border-radius: 13px;
        margin-top: 6%;
        margin-left: 15%;
        width: 70%;
        margin-right: 2%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .abt__heading1{
        margin-left: 2%;
        margin-right: 1%;
    }
    .fruit-img{
        display: none;
    }
    .rect1-img{
        height: 20vh;
        margin-left: 20%;
        width: 40vw;
        margin-top: 2%;
    }
    .rectangle10{
        display: flex;
        margin-left: 4%;
        margin-right: 2%;
        flex-direction: column;
        width: 90%;
        border-radius: 13px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .ellipse1{
        background-color: #c2f577;
        width: 5vw;
        height: 3vh;
        margin-left: 40%;
        border-radius: 20px;
        display: none;
    }
    .one{
        margin-left: 20%;
        
    }
    .work{
        text-align: center;
        font-family: pacifico;
        margin-top: 19%;
        color: #78A92D;
        font-size: 1.7rem;
    }
    .browse{
        text-align: center;
        font-style: italic;
    }
    .fav-plans1{
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 17%;
        color: black;
        font-weight: 800;
    }
    a:visited{
        color: black;
    }
    .fav-plans-para{
        color: #78A92D;
        font-weight: 600;
        
        text-align: center;
    
    }
    .rectangle11{
        display: flex;
        margin-left: 4%;
        margin-top: 8%;
        margin-right: 2%;
        width: 90%;
        flex-direction: column;
        border-radius: 13px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .fav-plans{
        text-decoration: none;
        text-align: center;
        margin-top: 3%;
        font-weight: 800;
        font-size: 1.2rem;
    }
    .ellipse2{
        display: none;
    }
    .rectangle12{
        width: 90%;
        display: flex;
        margin-left: 4%;
        margin-top: 8%;
        margin-right: 2%;
        flex-direction: column;
        border-radius: 13px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .ellipse3{
        display: none;
    }
    .parent_new{
        display: flex;
        
    }
    .rect15-img{
        height: 13vh;
    }
    .rectangle15{
        margin-left: 3%;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .rectangle16{
        border-radius: 16px;
        margin-left: 3%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .rectangle17{
        margin-left: 3%;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .menu-bt{
        border-radius: 15px;
        border: 0px;
        margin-top: -7%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: #78A92D;
        color: #fcfffa;
    }
    .heading_kit{
        text-align: center;
        margin-top: 15%;
        color: #78A92D;
        font-family: pacifico;
        font-size: 1.3rem;
    }
    .rect-abt{
        text-align: center;
        margin-top: -5%;
    }
    .testimonials{
        text-align: center;
        margin-top: 10%;
        font-family: pacifico;
        color: #78A92D;
        font-size: 1.4rem;
    }
    .half__img2{
        display: none;
    }
    .bg_green{
        /* display: none; */
        width: 100%;
        margin-left: 1%;
    }
    .inside_green{
        /* display: none */
        width: 100%;
        position: absolute;
        margin-top:8%;
        margin-left: -100%;
    }
    .review__box2{
        background-color: #c2f577;
    }
    .costumer__img{
        height: 9vh;
    }
    .review1{
        padding-top: 12%;
        margin-left: 5%;
        color: white;
    }
    .review_new{
        margin-left: 8%;
        background-color:#78A92D;
        border-color: aqua;
        border-width: 5px;
        border-top-left-radius: 70px 60px;
        border-bottom-right-radius: 53px;
        margin-right: 3%;
        width: 90%;
       
    }
    .customer__name{
        padding-left: 5%;
        font-weight: 800;
        
    }
    .video_play{
        width: 17vw;
        height: 5vh;
        margin-top: 60%;
        margin-left: -60%;
        border-radius: 58px;
        position: absolute;
        background-color: white;
        border: 0px;
    }
    .play_sign{
        height: 7vw;
        margin-left: 11%;
    }
    .button_of_green_box1{
        position: absolute;
        margin-top: -10%;
        border-radius: 10px;
        border: 0px;
        background-color: white;
    }
    .button_of_green_box2{
        position: absolute;
        margin-top: -10%;
        border-radius: 10px;
        margin-left: 40%;
        border: 0px;
        background-color: white;
    }
    .button_of_green_box3{
       z-index: -1;
        background-color: white;
        margin-left: 10%;
        margin-top: -90%;
        border: 0px;
    }
    .mohit__skipping{
        height: 40vh;
        margin-left: -10%;
    }
    .row__pu{
        display: flex;
        font-family: pacifico;
        color: #78A92D;
        margin-left: 10%;
    }
    .special_diet_content{
        display: none;
    }
    .special_diet{
        font-size: 1rem;
        margin-left: -7%;
    }
    .fav__box{
width: 25vw;
margin-left: 6%;
height: 15vh;
border-radius: 11px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .favbox__img{
        height: 5vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 2%;
    }
    .favbox_para{
        text-align: center;
    }
    .special__diet__boxes{
        display: flex;
       flex-grow: initial;
    }

  }
