
/* headderrrrrrrrr */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  .logo{
      height: 40px;
  }
  
  .nav {
    background: rgba(255, 255, 255, 0.8);

    position: fixed;
    height: 50px;
    width: 100%;
    /* background-color: transparent; */
    /* position: relative; */
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #78A92D;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    font-weight: 600;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #78A92D;
    
  }
  
  /* .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      margin-left: -2859% !important;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ffffff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(43vh - 50px);
      overflow-y: auto;
    
    }
  }











/* offferrrrrrrrrrr */



.offer{
    display: flex;
    background: url("https://cdn.discordapp.com/attachments/891025496601661504/964410668449165363/unknown.png") NO-REPEAT center ; 
    height: 640px;
    color: #fff;
    width: 1500px;
    background-size: cover;
    top: -1000px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  
  
  
  .banner1_img{
    position: absolute;
  width: 300px;
  height: 300px;
  left: 600px;
  top: 99px;
  /* z-index: -1; */
  }
  .banner2_img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 98px;
    top: 202px;
    /* z-index: -1; */
    
    
  }
  .banner3_img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 1185.56px;
    top: 339px;
    transform: rotate(7.96deg);
    /* z-index: 1; */
  }
  .offer_content{
    top: 600px;
    text-align: center;
    color:orangered;
    font-size: larger;
    font-weight: 500;
    font-style: oblique;
  } 
  .refer{
  position: absolute;
  width: 527px;
  height: 209px;
  left:500px;
  top: 304px;
  right:-500px;
  /* z-index: -1; */
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 158%;
  /* or 65px */
  
  text-align: center;
  letter-spacing: 0.08em;
  
  color: #FEA116;
    
  
  }
  .gree{
    color:#78A92D;
  }
  .niv{
    position: absolute;
  width: 226px;
  height: 45px;
  left: 650px;
  top: 546px;
  border-radius: 20px;
  border: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 158%;
  /* or 38px */
  
  text-align: center;
  letter-spacing: 0.08em;
  
  color: #000000;
  }
  .book{
    display: flex;
  }
  .left_img{
    position: absolute;
  width: 512px;
  height: 512px;
  left: 85px;
  top: 698px;
  }
  .book_subs{
    position: absolute;
  width: 527px;
  height: 323px;
  left: 800px;
  top: 810px;
  
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-size: 41px;
  line-height: 158%;
  /* or 65px */
  
  text-align: center;
  letter-spacing: 0.08em;
  
  color: #78A92D;
  }
  



/* ##############footer################################### */


.footer_back{

    /* display: flex; */
   background: url("https://cdn.discordapp.com/attachments/891025496601661504/964539628684185620/unknown.png") NO-REPEAT center ; 
    height: 683px;
    color: rgb(26, 2, 2);
    width: 1519px;
    background-size: cover;
    margin-top: 1216px;
    
    font-family: 'Ubuntu', sans-serif;
    
  }
  
  .footer_img{
  position: absolute;
  width: 1010px;
  height: 494.69px;
  left: 200.46px;
  top: 1835px;
  
  }
  
  .asd{
  position: absolute;
  width: 99px;
  height: 46px;
  left: 51.46px;
  top: 2300px;
  
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 46px;
  /* identical to box height */
  color: #000000;
  
  
  
  }
  .qwe{
  position: absolute;
  width: 204px;
  height: 122px;
  left: 28.46px;
  top: 2350px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  
  color: #000000;
  
  }
  .niet{
  position: absolute;
  width: 126px;
  height: 46px;
  left: 370px;
  top: 2300px;
  
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 46px;
  /* identical to box height */
  
  
  color: black;
  }
  
  
  
  .txt1{
    /* top:20px !important; */
    display: flex;
    margin-top: -29px;
    margin-left: 36px;
  }
  .txt2{
    display: flex;
    margin-top: -33px;
    margin-left: 36px;
  
  }
  .txt3{
    display: flex;
    margin-top: -30px;
    margin-left: 36px;
  
  }
  
  .mes{
    display: flex;
  }
  
  .loc{
    /* top:90px !important; */
    /* margin-top: 30px; */
    display: flex;
    
    
  }
  
  .call{
    display: flex;
    
  
  }
  .nit{
    list-style: none;
  position: absolute;
  width: 343px;
  height: 114px;
  left: 330px;
  top: 2355px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 38px;
  
  color: #000000;
  
  }
  .nie{
  position: absolute;
  width: 75px;
  height: 46px;
  left: 830px;
  top: 2300px;
  
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 46px;
  /* identical to box height */
  
  
  color: #000000;
  
  }
  .ni{
    list-style: none;
  position: absolute;
  width: 169x;
  height: 185px;
  left: 800px;
  top: 2355px;
  font-size: 17px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  /* font-size: 15.4px; */
  line-height: 24px;
  
  color: #000000;
  
  }
  
  .rawat{
  position: absolute;
  width: 221px;
  height: 54px;
  left: 990.46px;
  top: 2300px;
  left: 1200px;
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  
  color: #000000;
  
  
  }
  .nivesh{
  position: absolute;
  width: 329px;
  height: 40px;
  left: 1150px;
  top: 2400px;
  
  background: rgba(255, 255, 255, 0.4);
  border-radius: 23px;
  }
  .rat{
  position: absolute;
  width: 60px;
  height: 30px;
  left: 260px;
  top: 2550 px;
  margin-top: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105.58%;
  /* identical to box height, or 17px */
  border: 0px;
  text-align: center;
  border-radius: 23px;
  color: #efe8e8;
  background-color: #78a92d;
  
  }
  .harsh{
  margin-top: 5px;
  margin-left: 10px;
  border: 0px;
  background-color: transparent;
  height: 30px;
  width: 249px;
  }
  
  .devesh{
  position: absolute;
  left: 74.49%;
  right: 2.39%;
  top: 2420px;
  bottom: 2.97%;
  height: 100px;
  
  }
  .mohit{
  position: absolute;
  width: 286px;
  height: 25px;
  left: 17.46px;
  top: 2520px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  
  
  color: #000000;
  }
  
  /* .ui{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 307.46px;
  top: 20px;
  
  } */
  
  .rupee_{
  /* position: absolute; */
  position: absolute;
  width: 82.58px;
  height: 82.83px;
  margin-left:790px;
  /* background: url(.png); */
  transform: rotate(-18.94deg);
  top: 800px;
  }
  
  .rag{
  display: flex;
  }
  .nive{
  position: absolute;
  width: 527px;
  height: 323px;
  left: 94px;
  top: 1280px;
  
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-size: 41px;
  line-height: 158%;
  /* or 65px */
  
  text-align: center;
  letter-spacing: 0.08em;
  
  color: #78A92D;
  }
  .uty{
  color: #000000;
  }
  .aryan{
  position: absolute;
  width: 554px;
  height: 466px;
  left: 750px;
  top: 1300px;
  }
  
  /* .footer{
  margin-top: 1000px;
  } */
  .offer_back{
  position: absolute;
  width: 595px;
  height: 46px;
  left: 15px;
  top: -30px;
  /* z-index: -1; */
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 158%;
  /* or 51px */
  
  text-align: center;
  letter-spacing: 0.08em;
  
  color: #CF2129;
  
  }
  .order_your{
  position: absolute;
  width: 617px;
  height: 46px;
  left: 450px;
  top: 72px;
  
  
  background: rgba(255, 255, 255, 0.35);
  border-radius: 28px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /*############### media query ######## */
  
  @media only screen and (max-width: 600px) {
    .head{
      /* margin-top: 50px; */
      font-size: 48px;
      top:5%;
    }
  
    .box_gallery{
      margin-left: -131px;
      width: 350px;
      height: 4100px;
      z-index: -1;
    }
  
    .grid-container{
      /* margin-left: 15px !important; */
      display: flex;
      flex-direction: column;
    }
  
    .imgg{
      margin-left: 34px;
      width: 80%;
    }
  
    .footer_img{
      display: none;
    }
  
    .Homians{
    /* top: 10% !important; */
      
  
  
    }
  .asd{
    margin-top: -23%;
    margin-left: -6%;
  
  }
  
  .niet{
    margin-top: 25%;
    margin-left: -87%!important;
  }
  
  
  .nit{
    margin-top: 25%;
    margin-left: -88%;
  
  }
  
  .qwe{
    margin-top: -23% !important;
    margin:-6%;
    list-style:square;
  }
  
  .devesh{
    margin-top: -100%;
    left: 7%;
  
  
  }
  
  .mohit{
    margin-top: 77%;
    margin-left: 25px;
    font-weight: 600;
  }
  
    .footer_back{
        /* left: -1%; */
      margin-top: 280%;
      width: 100.6%;
      height: 1200px;
      /* top: 9999px; */
      
  
    }
  
  
    .nie{
      margin-top: 72%;
      margin-left: -204%;
    
    }
    .question{
      display: none;
    }
  
    .nivesh{
      display: none;
    }
  
  
    .ni{
      margin-top: 71%;
      margin-left: -205%;
  
    }
    .qwe{
      margin-top: 500px;
    }
  
    .ord{
      position: fixed;
      left: 384px;
    }
  
    .img1{
      position: fixed;
      left: 349px;
      z-index: 2;
  
    }
    
    .img2{
      position: fixed;
      left: 349px;
      /* z-index: -1; */
    }
  
  
    .img3{
  
      position: fixed;
      left: 349px;
      /* z-index: -1; */
    }
    
    .banner2_img{
        top:24%;
        left: -9%;
        height: 160px;
        width: 160px;
    }


    .banner1_img{
        top: 9%;
        left: 15%;
        height: 270px;
        width: 270px;
    }


    .banner3_img{
        top:24%;
        height: 140px;
        width: 140px;
        left: 70%;
    }

    .offer_back{
        left: -89%;
        font-size: 28px;
    }

    .nav-check{
        left: 20%;

    }


    .refer{
        width: 82%;
        font-size: 25px;
        left: 11%;
        top: 33%;
    }

    .niv{
        height: 2.2rem;
        top: 50.6%;
        left: 20%;
        font-size: 20px;
        /* font-size: calc(50% - 1000px/2); */
    }


    .nive{
        top: 60%;
        left: -0.3%;
        font-size: 24px;
        width: 100%;
    }

    .left_img{
        top: 90%;
        width: 50%;
        height: 30%;
    }

    .book_subs{
        left: 1%;
        top: 127%;
        width: 100%;
        font-size: 24px;
    }

    .rupee_{
        display: none;
    }

    .aryan{
        top: 152%;
        left: 1%;
        width: 100%;
        height: 50%;
    }















    .offer{
        width: 100%;
        height: 33.7rem;
        /* margin: right 1.2rem; */
    }
  }